/*resset*/
*{  margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica;
}

body{
	background-color: #000000;
	display:flex;
	align-items:center; 
	justify-content:center;
	padding: 6em;
}

#calc{
    width: 1200px;
	padding: .5em; 
	background-color: #1f1f1f;
	color: white; 
	display: flex; 
	flex-direction: column; 
	border-radius: 8px;
}

#calc h3 {
	font-size: 1em;
	font-weight: 300; 
	color: white; 
}

#operacao{
	text-align: center;
}

#prev-operacao, #atual-operacao{ 
	padding: .2em; 
	overflow-wrap: break-word; 
	min-height: 1.6em;
}

#prev-operacao{
	color: #1f1f1f;
}

#atual-operacao{ 
	font-size: 3em;
	font-weight: 700;
}

#botoes{
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr 1fr; 
	gap: 3px;
}

#botoes button{
	border: 1px solid transparent;
	border-radius: 5px;
	height: 4em;
	font-size: 1.2em;
	background-color: #272727;
	cursor: pointer;
}

#botoes .num{
	background-color: #3e3e3e;
}

#botoes button:hover {
    background-color: #444444;
}

#botoes #equal-btn {
	grid-column: span 2; 
	background-color: #55ffe0;
}

#botoes #equal-btn:hover{
    grid-column: span 2;
	background-color: #339886;
}